:host {
  display: block;
}

.continuar-btn {
  --mdc-filled-button-container-color: var(--eqi-primary);
  --mdc-filled-button-label-text-color: #fff;
  --mat-filled-button-container-color: var(--eqi-primary);
  --mat-filled-button-label-text-color: #fff;
}
